<<<<<<< Updated upstream
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title> <!-- Titre dynamique pour chaque page -->
</head>
<body>
    {{{body}}} <!-- Contenu de la page -->
</body>
</html>
=======
<!DOCTYPE html>
<html>
<head>
    <title>Remindr</title>
    <!-- Vous pouvez ajouter ici d'autres éléments d'en-tête, comme des liens vers des fichiers CSS -->
</head>
<body>
    <!-- Vous pouvez ajouter ici une barre de navigation -->

    <!-- Cette ligne est où le contenu spécifique à chaque page sera inséré -->
    {{{body}}}

    <!-- Vous pouvez ajouter ici un pied de page -->
</body>
</html>
>>>>>>> Stashed changes
