<<<<<<< Updated upstream
<!-- accueil.handlebars -->
<h1>Bienvenue sur la page d'accueil</h1>
<p>{{message}}</p>
=======
<!-- accueil.handlebars -->
<h1>Bienvenue sur la page d'accueil</h1>
<p>{{message}}</p>
>>>>>>> Stashed changes
