<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <a href="/signup">Signup</a>
                <a href="/login">Login</a>
            </nav>
        </div>
    </header>

    <div class="container">
        <h1>Bienvenue sur notre site</h1>

        <!-- Autres contenus de la page ici -->

    </div>
</body>
</html>
