<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation d'inscription</title>
</head>
<body>
    <h1>Inscription réussie</h1>
    <p>Merci de vous être inscrit ! Votre compte a été créé avec succès.</p>
    <p>Vous pouvez maintenant vous connecter en utilisant votre nom d'utilisateur et votre mot de passe.</p>
    <!-- Autres informations ou liens pertinents -->

    <!-- Lien pour retourner à la page d'accueil par exemple -->
    <a href="/">Retour à l'accueil</a>
</body>
</html>
