<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- ... autres balises head -->
</head>
<body>
    <h1>Tableau de Bord</h1>
    <p>Bienvenue, {{ username }}!</p>

    <!-- Bouton de Déconnexion -->
    <form action="/logout" method="post">
        <input type="submit" value="Déconnexion">
    </form>
</body>
</html>
