<!DOCTYPE html>
<html>
<head>
    <title>Remindr</title>
    <!-- Vous pouvez ajouter ici d'autres éléments d'en-tête, comme des liens vers des fichiers CSS -->
</head>
<body>
    <!-- Vous pouvez ajouter ici une barre de navigation -->

    <!-- Cette ligne est où le contenu spécifique à chaque page sera inséré -->
    {{{body}}}

    <!-- Vous pouvez ajouter ici un pied de page -->
</body>
</html>